@import '../variables/variables';
@import '../mixins/mixin';

/*======================================
            classes start
========================================*/
#class{
    padding-bottom: 80px;
    button{
        margin: 30px 0 30px;
        padding: 20px 58.42px;
        background: #dddddd;
        border-radius: 0;
        transition: all linear .3s;
        color: #444444;
        text-transform: uppercase;
        &:hover{
            background: $main_col;
            color: $w;
        }
    }
    .class_main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:first-child{
            margin-bottom: 3px;
        }
        .class_1{
            padding: 44px 56px;
            background: #dddddd;
            cursor: pointer;
            transition: all linear .3s;
            &:hover{
                background: $main_col;
                h5,p{
                    color: $w;
                }
            }
            h5{
                @include fs(#444444, 16px, 400, $open);
                text-transform: capitalize;
                padding-bottom: 10px;
                transition: all linear .3s;
            }
            p{
                padding-top: 10px;
                transition: all linear .3s;
            }
        }
    }
}
/*======================================
            classes end
========================================*/