@import '../variables/variables';
@import '../mixins/mixin';

/*======================================
            our gallery start
========================================*/
.common_head {
    h2 {
        @include fs(#222222, 22px, 400, $ows);
        text-transform: uppercase;
    }

    img {
        margin-top: -5px;
    }
}

.gall_bg{
    padding: 30px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    &:after{
        @include ab_tl(0, 0, 100%, 100%, rgba(0, 0, 0, 0.8));
        z-index: -1;
    }
    .gall_img{
        position: relative;
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
        &:hover{
            .overlay{
                transform: scale(1);
            }
        }
        .overlay{
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            background: rgba(226, 62, 56, 0.4);
            border: 3px solid rgba(255, 255, 255, 0.6);
            a{
                @include middle();
                font-size: 28px;
                color: $w;
            }
            transform: scale(0);
            transition: all linear .3s;
        }
    }
}

/*======================================
            our gallery end
========================================*/